body{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-header{
    background: #14185c;
    padding: 6px; 
    border-bottom: 1px solid #000;
    min-width: 400px; 
}
.container-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 380px; 
}

.container-logo img{
    width: 250px; 
    min-width: 120px; 
    margin-left: 10px; 
}
.container-logo{
    width: 33%;
}

.container-header a{
    text-decoration: none;
    color: white;
}

.enlace{
    width: 33%;
    display: flex;
    justify-content: space-between;
}

.vacio{
    width: 33%;
}

.enlace a:hover{
    border-bottom: 2px solid white;
}
.enlace a{
    padding: 5px; 
    margin: 5px; 
    text-align: center;
    width: 50%;
    font-size: 14px; 
}

.enlace3{
    background-color: black; 
    border-radius: 30px;
}


.container-body{
    padding: 20px; 
}

.slogan .h1primero{
    font-size: 40px;
    color: #0091d9;
    margin-bottom: 0;
    font-weight: bold;
    margin-top: 0;
    text-shadow: 1.5px 1px 2px gray;
}
.slogan .h2segundo{
    font-size: 40px;
    margin-top: 0;
    font-weight: bold;
    text-shadow: 1.5px 1px 2px gray;
}

.slogan{
    margin-left: 20px; 
    max-width: 500px; 
}

.container-descripcion{
    color: gray;
    width: 50%;
    max-width: 450px; 
    font-size: 16px; 
    line-height: 1.4;
    margin-left: 20px;
    margin-bottom: 20px;
}

.container-servicios{
    display: flex;
    justify-content: center;
    align-items: stretch; 
    text-align: center;
    max-width: 1200px; 
    margin: 0 auto; 
    flex-wrap: wrap; 
}

.container-servicios1{
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 20px 8px; 
    width: 30%; 
    flex-grow: 1; 
    text-align: center;
    margin: 10px;
    border-radius: 30px;
    flex-direction: column;
    border: 1px solid #0091d9; 
    box-shadow: 0 10px 28px rgba(0,0,0,0.1);
    box-sizing: border-box;
    flex-basis: 200px; 
    flex-grow: 1;
}

.container-servicios1 img {
    max-width: 60px;  
    max-height: 60px; 
    width: auto;      
    height: auto;     
    margin-bottom: 10px; 
    display: block; 
    margin-left: initial;
    margin-right: initial;
}


h2{
    font-weight: bold;
    text-align: left;
    font-family: sans-serif;
    text-align: center;
    font-size: 24px;
}

.h3-1{
    width: 40%;
    color: gray;
    font-family: sans-serif;
    font-size: 14px;
    margin-left: 20px; 
}

.h3-2{
    color: black;
    font-family: sans-serif;
    font-size: 20px; 
    padding: 0 5px;
    text-align: center; 
}

h4{
    color: gray;
    font-family: sans-serif;
    font-size: 0.75rem; 
    line-height: 1.2;
    padding: 0 8px;
    text-align: center; 
    margin-top: 5px;
    margin-bottom: 10px; 
}

footer{
    background: #14185c;
    border-top: 1px solid #000;
    width: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    min-width: 400px; 
    flex-shrink: 0;
    flex-grow: 0;
}

.container-redes img{
    width: 30px; 
    max-width: 40px; 
    min-width: 15px; 
    border-radius: 10px;
}
.container-redes a{
    width: auto;
    padding: 5px;
    margin-left: 2px; 
}
.container-redes a:hover{
    border-bottom: 2px solid white;
}
.container-redes{
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px; /
}
.container-enlace{
    width: 32%;
}

.container-enlace a{
    text-decoration: none;
    color: white;
    padding: 5px; 
}

.container-enlace a:hover{
    border-bottom: 2px solid white;
}

.container-vacio{
    width: 33%;
}

.container-body{
    flex-grow: 1;
}

