body{
    padding: 0;
    margin: 0;
}

.container-header{
    background: #14185c;
    background: linear-gradient(to right, #14185c, #0091d9);
    padding: 10px;
}
.container-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 70%;
}

.container-header a{
    text-decoration: none;
    color: white;
}

.enlace{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.vacio{
    width: 130%;
}

.enlace a:hover{
    width: 100%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-bottom: 2px solid white;
}
.enlace a{
    width: 100%;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.enlace3{
    background-color: black;  
      border-radius: 30px;
}


.container-body{
    padding: 50px;
}

.slogan .h1primero{
    font-size: 40px;
    color: #0091d9;
    margin-bottom: 0;
    font-weight: bold;
}
.slogan .h2segundo{
    font-size: 40px;
    margin-top: 0;
    font-weight: bold;
}

.container-descripcion{
    color: gray;
    width: 50%;
}

.container-servicios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}

.container-servicios1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    border: 3px solid #0091d9;
    width: 20%;
    text-align: center;
    margin: 20px;
    border-radius: 30px;
    height: 300px;
}

h2{
    font-weight: bold;
}

.imgservicios{
}