<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaxGrade</title>
    <link rel="stylesheet" href="./stylecalendario/stylecalendario.css">
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/main.min.css' rel='stylesheet' />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
        <div class="container-header">
            <div class="divacio"></div>
            <div class="divimg"><img src="../img/maxgradeplacapng.png" alt=""></div>
            <div class="irperfil"><a href="../perfilconfig/perfilconfig.html"><img src="./img/usuario-negro-forma-de-cerca.png"></a></div>
        </div>
            <div class="container-nav">
                <a href="../Calendario/calendario.html">Calendario | </a>
                <a href="../crearTarea/crearTarea.html">Crear Tarea | </a>
                <a href="../PostLogin/postlog.html">Tareas</a>            
            </div>
                <div class="container-body">

                    <div id="calendar" class="calendario">
                    </div>
                </div>

                    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
                    <script src="./js/calendario.js"></script>
</body>
</html>