body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container-main {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    padding-top: 20px;
    height: 570px;
    background-image: url(../img/fondo-azul-elegante-abstracto-con-espacio-de-texto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin-top: 80px;
}

.container-columna {
    padding: 20px;
    text-align: center;
    flex: 1;
}

.container-slogan {
    padding-top: 150px;
    padding-bottom: 20px;
}

.container-nombre {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-texto {
    font-size: 30px;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
}

.container-header {
    padding: 20px;
    top: 0;
    background-color: #1c106d;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    max-height: 80px;
    
}

.logo {
    width: 250px;
    min-width: 120px;
    margin-left: 35px;
}

.img {
    width: 250px;
    height: 70px;
}

img {
    overflow: clip;
    vertical-align: middle;
}

.nav-link {
    color: #fff;
}

.footer {
    background-color: rgb(68, 72, 75);
    bottom: 0;
    box-sizing: border-box;
    color: var(--footer-text-color);
    font-size: 12px;
    font-weight: bold;
    line-height: 50px;
    position: fixed;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 2;
}

.piramide {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.fila {
    display: flex;
    gap: 20px;
}

.fila-arriba {
    justify-content: center;
}

.fila-abajo {
    justify-content: center;
}

.elemento {
    width: 200px;
    height: 200px;
    background-color: #b4e3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 0 #86a9bd;
    flex-direction: column;
    padding: 15px;
}

.texto-info {
    font-size: 15px;
}