
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    min-height: 100vh;
}

body {
    background-image: url(../../public/img/Imagen1.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.container-header {
    background: #14185c;
    padding: 10px;
    border-bottom: 1px solid #000;
    flex-shrink: 0; 
}

.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.container-logo img {
    margin-left: 20px;
    height: auto;
    height: 50px;
}

.container-header a {
    text-decoration: none;
    color: white;
}

.enlace {
    display: flex;
    justify-content: flex-end; 
    font-size: 1rem; 
}

.vacio {
    flex-grow: 1; 
}

.enlace a {
    padding: 10px 15px; 
    margin-left: 10px;
    text-align: center;
    transition: border-bottom 0.3s;
}

.enlace a:hover {
    border-bottom: 2px solid white;
}

.enlace3 {
    background-color: black; 
    border-radius: 30px;
}

footer {
    background-color: rgb(68, 72, 75); 
    box-sizing: border-box;
    color: white;
    font-size: 12px;
    font-weight: bold; 
    line-height: normal; 
    padding: 0;
    position: static;
    margin-top: 0; 
}

.container-redes, .container-enlace, .container-vacio {
    padding: 5px 10px;
}

.container-redes img {
    border-radius: 15px;
}

.container-redes a {
    padding: 0 5px; 
    margin-left: 5px;
}

.container-redes a:hover, .container-enlace a:hover {
    border-bottom: 2px solid white;
}

.container-enlace a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

footer div:last-child, footer p, footer ul {
    margin-bottom: 0 !important;
}

.user-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.container-logo-login {
    text-align: center;
    width: 35%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2eae6;
    margin: 0; 
    border-radius: 20px 0px 0px 20px;
    height: 500px; 
}

.container-logo-login img {
    width: 80%;
    height: auto;
    display: block;
}

.container-userid{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: 0; 
    border-radius: 0px 20px 20px 0px;
    height: 500px; 
    width: 35%; 
    padding: 0 20px;
    box-sizing: border-box; 
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.buttons a {
    padding: 4px 12px;
    margin: 0 10px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    box-shadow: 0 10px 28px rgba(0,0,0,0.1);
    transition: border-bottom 0.3s;
}
.buttons a:hover {
    border-bottom: 2px solid #000;
}

.inputlog {
    margin: 5px;
    font-size: 1rem;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.inputlog:focus {
    background-color: #f2eae6;
    outline: none;
    border-color: #0091d9;
}

#loginpass1 {
    margin-left: 0; 
}

button:hover {
    background-color: #0091d9;
}

button:active {
    background-color: #00577f;
}

.stylereccon {
    margin-top: 10px;
    font-size: 0.9rem;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.stylereccon:hover {
    color: #0091d9;
}

.btn_iniciar {
    text-decoration: none;
    background-color: #14185c;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    font-size: 1rem;
    display: block;
    text-align: center;
}

#togglePassword {
    cursor: pointer; 
}