.container-header{
    background-color: #14185c;
    text-align: center;
    color: #f2eae6;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divimg img{
    height: 80px;
}

.divacio{
    width: 6%;
}
.divimg{
    width: 100%;
    text-align: center;
}
.irperfil img{
    width: 100%;
    height: 60px;
}
.irperfil{
    margin-right: 40px;
    background-color: #f2eae6;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
}

body{
    margin: 0;
    padding: 0;
}

.container-nav{
    background-color: #21257a;
    text-align: center;
    height: auto;
    padding: 5px;
}
.container-nav a{
    text-decoration: none;
    color: #f2eae6;
    font-size: 25px;
}

.container-body{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-left: 4rem;
    margin-right: 4rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 20px;
}
#lista-tareas-existentes{
    display: flex;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
}
.tarjeta-tarea{
    margin: 10px;
    padding: 15px;
    width: 400px;
    min-width: 250px;
    max-width: 450px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-left: auto;
    margin-right: auto;
}

.instrucciones-detalle {
    max-height: 100px; 
    overflow-y: auto; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    padding: 5px;
    border-top: 1px dashed #eee;
    margin-top: 10px;
}

.tarjeta-tarea button{
    background-color: #14185c;
    color: white;
    border: 1px solid black;
    padding: 4px;
    border-radius: 4px;
}

.tarjeta-tarea button:hover{
    background-color: #0091d9;
}