.container-header{
    background-color: #14185c;
    text-align: center;
    color: #f2eae6;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.divimg img{
    margin-left: 40px;
    width: 100%;
    height: 80px;
}
.irperfil img{
    width: 100%;
    height: 60px;
}
.irperfil{
    margin-right: 40px;
    background-color: #f2eae6;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
}

body{
    margin: 0;
    padding: 0;
}

.container-nav{
    background-color: #21257a;
    text-align: center;
    height: auto;
    padding: 5px;
}
.container-nav a{
    text-decoration: none;
    color: #f2eae6;
    font-size: 25px;
}

.container-body{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-left: 4rem;
    margin-right: 4rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}