
html {
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    background-image: url(../imglog/Imagen1.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 480px; 
}

.container-header{
    background: #14185c;
    padding: 10px;
    border-bottom: 1px solid #000;
    flex-shrink: 0; 
    flex-grow: 0;
}
.container-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 450px;
}

.container-logo img{
    width: 200px; 
    margin-left: 20px;
}

.container-header a{
    text-decoration: none;
    color: white;
}

.enlace{
    width: 70%;
    display: flex;
    justify-content: space-between;
    min-width: 300px; 
}

.vacio{
    width: 80%;
}

.enlace a:hover{
    border-bottom: 2px solid white;
}

.enlace a{
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 50%;
    font-size: 1.1rem; 
    min-width: 80px; 
}

.enlace3{
    background-color: black; 
    border-radius: 30px;
}

footer{
    background: #14185c;
    border-top: 1px solid #000;
    width: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    flex-shrink: 0; 
    flex-grow: 0;
    min-width: 480px; 
}

.container-redes img{
    width: 40px;
    border-radius: 15px;
    min-width: 30px; 
}
.container-redes a{
    width: auto;
    padding: 10px;
    margin-left: 5px;
}
.container-redes a:hover{
    border-bottom: 2px solid white;
}
.container-redes{
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.container-enlace{
    width: 32%;
}

.container-enlace a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.container-enlace a:hover{
    border-bottom: 2px solid white;
}

.container-vacio{
    width: 33%;
}
.container-body {
    flex-grow: 1; 
}
.user-reccon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 40px;
    flex-grow: 1; 
    flex-wrap: wrap; 
    min-width: 650px; 
    max-width: 1000px;
    margin: 40px auto; 
}

.container-userid, .container-logo-reccon {
    height: 600px; 
    min-height: 350px;
    flex-basis: 850px;
    max-width: 50%; 
    flex-shrink: 1;
    margin-left: auto; 
    margin-right: auto; 
    min-width: 300px; 
}

.container-userid{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    border-radius: 0px 20px 20px 0px;
    margin-bottom: 20px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.buttons a{
    padding: 4px;
    margin: 10px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    margin-bottom: 30px;
    min-width: 100px; 
    box-shadow: 0 10px 28px rgba(0,0,0,0.1);
}
.buttons a:hover{
    border-bottom: 2px solid #000;
}
.label{
    margin-bottom: 0px;
    margin-top: 10px;
}
.label1{
    margin-bottom: 0px;
    margin-top: 10px;
}

.inputlog{
    width: 80%;
    margin: 5px;
}

.inputlog:focus{
    background-color: #f2eae6;
}

button{
    background-color: #00577f;
    color: #f2eae6;
    border: 1px solid #000;
    border-radius: 10px;
    width: 100%;
    font-size: 1rem;
    margin: 10px;
    margin-top: 20px;
}

button:hover{
    background-color: #0091d9;
    border: 1px solid #000;
}

button:active{
    background-color: #00577f;
    border: 1px solid #000;
}
.container-logo-reccon{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2eae6;
    margin-top: 20px;
    border-radius: 20px 0px 0px 20px;
    margin-bottom: 20px;
}
.container-logo-reccon img{
    width: 80%;
    height: 80%;
    margin-top: 53px;
    padding: 50px;
}
.button{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.btn_reccon{
    text-decoration: none;
    background-color: #14185c;
    color: white;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 1rem;
}
.semestre{
    margin-bottom: 50px;
}
.semestre input, label{
    margin: 5px;
}
.inputreccon{
    width: 85%;
    margin: 5px;
    font-family: sans-serif;
    font-size: 1rem;
    text-align: left;
}
#divreccon{
    margin-left: 15%;
}