.container-header{
    background-color: #14185c;
    text-align: center;
    color: #f2eae6;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.divimg img{
    width: 100%;
    height: 80px;
}
.irperfil img{
    width: 100%;
    height: 60px;
}
body{
    margin: 0;
    padding: 0;
}

.container-nav{
    background-color: #21257a;
    text-align: center;
    height: auto;
    padding: 5px;
}
.container-nav a{
    text-decoration: none;
    color: #f2eae6;
    font-size: 1.5vw;
}

.container-body{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    margin-left: 4rem;
    margin-right: 4rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    background-color: #f2eae6;
}
.container-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    background-color: #00577f;
    color: #f2eae6;
    border: 1px solid #000;
    border-radius: 10px;
    padding-inline-start: 10px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px;
}

button:hover{
    background-color: #0091d9;
    border: 1px solid #000;
}

button:active{
    background-color: #00577f;
    border: 1px solid #000;
}

.irperfil img{
    width: 100%;
    height: 60px;
}
.irperfil{
    margin-right: 40px;
    background-color: #f2eae6;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
}

.form-crearTarea{
    background-color: #14185c;
    color: #f2eae6;
    text-align: left;
    border-radius: 15px;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    width: 60%;
    max-width: 90%;
    font-size: 15px;
    padding: 20px;
    margin-top: 30px;
}