html {
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    background-image: url(../imglog/image.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-header{
    background: #14185c;
    padding: 10px;
    border-bottom: 1px solid #000;
    flex-shrink: 0; 
    flex-grow: 0;
}
.container-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 450px;
}

.container-logo img{
    width: 200px; 
    margin-left: 20px;
}

.container-header a{
    text-decoration: none;
    color: white;
}

.enlace{
    width: 70%;
    display: flex;
    justify-content: space-between;
    font-size: 1rem; 
}

.vacio{
    width: 80%;
}

.enlace a:hover{
    border-bottom: 2px solid white;
}

.enlace a{
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 50%;
}

.enlace3{
    background-color: black; 
    border-radius: 30px;
}

footer{
    background-color: rgb(68, 72, 75);
    bottom: 0;
    box-sizing: border-box;
    color: var(--footer-text-color);
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    position: fixed;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 2;
}

.container-redes img{
    width: 40px;
    border-radius: 15px;
}
.container-redes a{
    width: auto;
    padding: 10px;
    margin-left: 5px;
}
.container-redes a:hover{
    border-bottom: 2px solid white;
}
.container-redes{
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.container-enlace{
    width: 32%;
}

.container-enlace a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.container-enlace a:hover{
    border-bottom: 2px solid white;
}

.container-vacio{
    width: 33%;
}

.container-userid{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin-top: 30px;
    border-radius: 0px 20px 20px 0px;
    margin-bottom: 30px;
    height: 600px;
    max-height: 700px;
    min-height: 350px;
    width: 35%;
    min-width: 350px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.buttons a{
    padding: 4px;
    margin: 10px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    box-shadow: 0 10px 28px rgba(0,0,0,0.1);
}
.buttons a:hover{
    border-bottom: 2px solid #000;
}


.inputlog{
    width: 70%;
    margin: 5px;
    font-size: 1rem;
    padding: 8px;
}

.inputlog:focus{
    background-color: #f2eae6;
}

button{
    background-color: #00577f;
    color: #f2eae6;
    border: 1px solid #000;
    border-radius: 10px;
    width: 100%;
    font-size: 15px;
    margin: 10px;
    margin-top: 20px;
    padding: 8px;
}

button:hover{
    background-color: #0091d9;
    border: 1px solid #000;
}

button:active{
    background-color: #00577f;
    border: 1px solid #000;
}

.stylereccon{
    margin-top: 10px;
    font-size: 0.9rem;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}


.stylereccon:hover{
    color: #0091d9;
}

.btn_iniciar{
    text-decoration: none;
    background-color: #14185c;
    color: white;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 50px;
    font-size: 1rem;
}
.container-body {
    flex-grow: 1; 
}

.user-login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
    margin: 40px;
    flex-grow: 1; 
    padding-left: 10%;
    padding-right: 10%;
}

.container-imglogo{
    text-align: center;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2eae6;
    margin-top: 20px;
    border-radius: 20px 0px 0px 20px;
    margin-bottom: 20px;
    height: 600px;
    max-height: 700px;
    min-height: 250px;
    min-width: 350px;
}

.container-logogrande {
    height: 400px;
    width: 400px;
}

.container-logo-login img{
    width: 80%;
    height: 80%;
    margin: 0; 
    padding: 0;
    display: block;
}
#togglePassword {
    cursor: pointer; 
}
#loginpass1{
    margin-left: 1.5rem; 
}